<style>
#FakeStyleElementToFixCSSBugDoNotDelete { color:red ; }

body {
   font-family: Barlow Condensed,sans-serif; 
    /*'Times New Roman',Times,serif;*/
   font-size: 16px;
   line-height: 1.4em;
   color: #333;
   background-color: #EEEEEE; 
}

li {
   font-family: Barlow Condensed,sans-serif; 
   font-size: 16px;
   font-weight: 700;
   line-height: 1.4;
   letter-spacing: .04em;
}

a:link, a:visited, a:hover, a:active {
   text-decoration: none;
   color: black;
}

input[type=text] {
  width: 50%;
  min-width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
}

.portion_button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .8rem;
    border: 1px solid #1f272a;
    border-radius: 50%;
}

@media print {
   body {
      color: #000;
      background: #fff;
   }
}


</style>